test-unit/target/**
test-mock/target/**
test-mock/target/**
test-devservices/target/**
test-review/target/**
reactive-architecture/target/**
reactive-develop/target/**
reactive-eda/target/**
reactive-review/target/**
secure-jwt/target/**
secure-sso/target/**
secure-review/target/**
deploy-openshift/target/**
deploy-source/target/**
deploy-binding/target/**
deploy-review/target/**
tolerance-policies/target/**
